#header{
    background-image: url("https://t3.ftcdn.net/jpg/02/64/92/28/360_F_264922838_NErJEovZiP9MTa49apqL1Vs3f88ZT8Dg.jpg");
    width:100%;
    height:40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction:column ;
    padding: 14px;


}
#header2{
    background-image: url("https://img.freepik.com/premium-vector/transparant-corner-shape-pasta-colorful-abstract-geometric-design-background_181182-22062.jpg");
    width:100%;
    height:40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction:column ;
    padding: 14px;

}
#header h2,
#header p{
    color: #fff;

}
#product1{
    text-align: center;

}
#product1 .Pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width:23% ;
    min-width: 250px;
    padding:10px 12px;
    border:1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin:15px 0;
    transition:0.2s ease ;
    position: relative;
}
#product1 .pro img{
    width: 50%;
    border-radius:20px ;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
    
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color:#606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size:14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color:rgb(243,181,25);

}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius:50px ;
    background-color: #e8f6e8;
    font-weight:500 ;
    color: black;
    border:1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right:10px;
}
#sm-banner{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    text-align:center;
    background-image: url("https://www.beyours.in/cdn/shop/files/knitshirt-desktop-banner.jpg?v=1692259606&width=1500");
    min-width:500px;
    height: 50vh;
    background-size: cover;
    /* background-position:center; */
    padding: 30px;
}
#sm-banner .banner-box2{
    background-image: url("https://img.freepik.com/free-photo/shirt-mockup-concept-with-plain-clothing_23-2149448751.jpg");
    
}
#sm-banner h4{
    color:black;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color:black;
    font-size: 20px;
    font-weight: 800;
}
#sm-banner span{
    color:black;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;

}
#pagination{
    margin: 20px;
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color:#fff;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* text-align: center; */
    align-items: center;
    
    
    background-position: 20% 30%;
    background-color:rgb(2, 2, 81) ;
    margin: 40px;
    border-radius: 4px;

}
#newsletter h4{
    text-align: left;
    font-size:22px ;
    font-weight: 700;
    color: #fff;
}
#newsletter  p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter .Form{
    display:flex;
    
    
    width:40%;
}
#newsletter input{
    
    height:3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
#newsletter button {
    /* height:3.125em;*/
    border: 1px solid transparent;
    border-radius: 4px; 
    background-color: #14928a;
    color: #fff;
    white-space: nowrap;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    }
#about-head {
    display: flex;
    }
#about-head .about{
    width: 50%;
    padding-left: 40px;
    }

    #prodetails{
        display: flex;
        margin-top: 20px;
    }
    #prodetails .single-pro-image{
       width:20%;
       margin-right:50px;
    }
    #prodetails .single-pro-details{
        width: 50%;
        padding-top: 30px;
    }
    #prodetails .single-pro-details h4{
        padding: 40px 0 20px 0;
    }
    #prodetails .single-pro-details h2{
        font-size: 26px;
    }
    #prodetails .single-pro-details select{
        display: block;
        padding: 5px 10px;
        margin-bottom: 10px;
    }
    #prodetails .single-pro-details input{
        width: 40px;
        height:40px;
        padding-left: 10px;
        font-size: 16px;
        margin-right: 10px;
    }
    #prodetails .single-pro-details button{
        height: 5%;
        background-color: #088178;
        color: #fff;
    }
    #prodetails .single-pro-details span{
        line-height:25px;
        color:#606063;
    
    }
    #about-head {
        display: flex;
    }
    #about-head .about{
        width: 50%;
        padding-left: 40px;
    }