#header{
    background-image: url("https://t3.ftcdn.net/jpg/02/64/92/28/360_F_264922838_NErJEovZiP9MTa49apqL1Vs3f88ZT8Dg.jpg");
    width:100%;
    height:40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction:column ;
    padding: 14px;


}